/* ----------------------- RESET ------------------ */
/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Make `a` like a button */
[role='button'] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------- END RESET ------------------ */

/* ----------------------- VARIABLES ------------------ */

:root {
  --primary-color:#F17A5C;
  --secondary-color: #393938;
  --primary-400:#F17A5C;
  --space-lg:0rem;
  --space-md:0rem;
  --primary-padding: 4.8rem;
}
/* ----------------------- use "space" to define vertical rythm and color palettes (any value, --whatever) ------------------ */

/* ----------------------- END VARIABLES ------------------ */


/* ----------------------- GLOBAL ------------------ */

html {
  font-size: 62.5%; /* Base typography: 10px */
}

h1,
h2,
h3 {
  font-family: 'DM SerifDisplay';
  color: #e06343;
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.4rem;
}

h2 {
  font-size: 2.3rem;
  line-height: 3.2rem;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.8rem;
}

.project__h {
  color:#393331;
    }

body {
  background-color: #fdf8f7;
  font-family: 'Montserrat';
  font-size: 1.6rem;
  color: #393938;
  line-height: 2.4rem;
}

p,
p + p {
  margin-bottom: 1.6rem;
}

.p-final {
  margin-bottom: 4.8rem;
}

a:link {
  color: #e06343;
}

a:visited {
  color: #e06343;
}

a:hover {
  color: #393938;
}

.a:active {
  color: #393938;
}

/* ----------------------- UTILITIES ------------------ */
.wrapper {
  margin: 0 auto;
  max-width: 128rem;
  padding: 0 2.4rem;
}

.flex-container {
  display: flex;
}

.row {
  align-items: flex-start;
  display: flex;
  width: 100%;
}

.column {
  width: 50%;
}

.space-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.reverse {
  flex-flow: reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.hide {
  display: none;
}

.fixed {
  position: fixed;
}

  /* ----------------------- END UTILITIES ------------------ */

/* ----------------------- HEADER ------------------ */

.header {
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4.8rem;
  margin-bottom: 6.4rem;
}

.logo {
  width: 100%;
  letter-spacing: 0.4rem;
}

/* ----------------------- NAVIGATION ------------------ */

.navigation-min {
  display: none;
}


.menu-closed {
  display: none;
}

.menu-open {
  display: none;
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

/* ----------------------- END NAVIGATION ------------------ */

/* ----------------------- BILLBOARD ------------------ */

.billboard__h {
  color: #fdf8f7;
}

.billboard__content__h {
  color:#393938;
}

.billboard__text {
  color: #fdf8f7;
  margin: 4.8rem;
  position: absolute;
}

.billboard__bg {
  border-radius: 2rem;
  position: relative;
  z-index: -10;
}

.billboard__content {
  width: 100%;
  background-color: #f17a5c;
  padding: 4.8rem 4.8rem 6.4rem;
  border-radius: 0 0 2rem 2rem;
  margin: -1.5rem 0 0 0;
  z-index: 10;
  margin-bottom:10.4rem;
}

.billboard__p {
  margin-bottom:5.6rem;
}

/* ----------------------- ASSETS ------------------ */

.illustration {
  margin: 3.2rem;
}

.arrow__svg {
 display: none;
}

.project__img {
margin: 4.8rem 0 4.8rem 0;
}

.project__img-min {
display: none;  
}

.space-travel__bg {
  background-image: url(../img/space-travel-bg.png);
}

.project__bg {
  border-radius: 1rem;
}

.project__mockup {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
  
/* ----------------------- LISTS ------------------ */

ul.project__ul {
  list-style: none; /* Remove default bullets */
}

ul.project__ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:#F17A5C; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 250%;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  vertical-align: middle;
  position: absolute;
  line-height: 2.4rem;
  margin-bottom: 1.6rem;
}

.takeaways {
  margin-left: 4.8rem;
}


/* ----------------------- END LISTS ------------------ */


/* ----------------------- EFFECTS ------------------ */

.zoom-effect-container {
  width: 100%;
  height: 100%;
  margin-bottom: 2.4rem;
  margin-top: 4.8rem;
}

.image-card img {
-webkit-transition: 0.4s ease;
transition: 0.4s ease;
}

.zoom-effect-container:hover .image-card img {
-webkit-transform: scale(1.08);
transform: scale(1.08);
}

/* ----------------------- END EFFECTS ------------------ */


/* ----------------------- FOOTER ------------------ */

.footer {
  background: #f17a5c;
  min-height: 24rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 4rem;
}

.footer__content,
.footer__title {
  color: #fdf8f7;
}

.footer__content {
  padding-bottom: 4rem;
}

.footer__icon {
  width: 4.8rem;
  height: 4.8rem;
}

.footer-anchor:link {
  color: #fdf8f7;
}

.footer-anchor:visited {
  color: #fdf8f7;
}

.footer-anchor:hover {
  color: #393938;
}

.footer-anchor:active {
  color: #393938;
}

/* ----------------------- RESPONSIVE 960px ------------------ */
@media (min-width: 60em) {
  /* ----------------------- GLOBAL ------------------ */

  h1 {
    font-size: 5.4rem;
    line-height: 6.7rem;
  }

  h2 {
    font-size: 4.2rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  body {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  /* ----------------------- UTILITIES ------------------ */

  .wrapper {
    max-width: 128rem;
    padding: 0 4.8rem;
  }

  .wrapper__center-min {
    margin: 0 auto;
    max-width: 128rem;
    padding: 0 20rem;
    }

  .flex-container-min {
    display: flex;
  }

  .row-min {
    align-items: flex-start;
    display: flex;
    width: 100%;
  }

  .reverse-min {
    flex-flow: reverse;
  }

  .row-min {
    align-items: flex-start;
    display: flex;
    width: 100%;
  }

  .space-between {
    justify-content: space-between;
  }

  .align-center {
    align-items: center;
  }

  .align-start {
    align-items: start;
  }

  .justify-center-min {
    justify-content: center;
  }

  .display {
    display: block;
  }

  .inline {
    display: inline-block;
  }

  .column-min-margin {
    width: 50%;
    margin: 0 7.2rem 0 0;
  }

  .column {
    width: 50%;
  }

  /* ----------------------- HEADER ------------------ */

  .navigation {
    display: none;
  }
  .navigation-min {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .nav-item {
    padding: 0 2rem;
  }

  .nav-item:last-child {
    padding-right: 0;
  }

  .menu-open {
    display: none;
  }

  .logo {
    width: 50%;
    letter-spacing: 0.4rem;
  }
  
  /* ----------------------- ASSETS ------------------ */

  .illustration {
    margin: 0 0 3.2rem 8.8rem;
  }

  .arrow__svg {
    display: block;
    margin: 6.4rem;
  }

  .project__img-min {
    margin: 4.8rem 0 4.8rem 0;
    display: block;
    }

  .project__img {
      display: none;
      }

  .project__bg {
    border-radius: 4rem;
      }

  .project__mockup {
      height: auto;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      }
    }
/* ----------------------- RESPONSIVE 960px END ------------------ */